name: buildAndCheck
on:
  workflow_dispatch:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
jobs:
  check:
    name: Agda Typecheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: wenkokke/setup-agda@v2
        with:
          agda-version: '2.7.0.1'
          agda-stdlib-version: '2.3'

      # typecheck Main.agda      
      - run: agda src/Main.agda